<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yz.mapper.LocateMapper" >
  <resultMap id="BaseResultMap" type="com.yz.po.Locate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="isLetHouse" property="islethouse" jdbcType="INTEGER" />
    <result column="belongPlace" property="belongplace" jdbcType="INTEGER" />
    <result column="policeroom" property="policeroom" jdbcType="INTEGER" />
    <result column="policeName" property="policename" jdbcType="VARCHAR" />
    <result column="registerName" property="registername" jdbcType="VARCHAR" />
    <result column="realRegisterName" property="realregistername" jdbcType="VARCHAR" />
    <result column="openTime" property="opentime" jdbcType="VARCHAR" />
    <result column="wifiPwd" property="wifipwd" jdbcType="VARCHAR" />
    <result column="numberOfRelperson" property="numberofrelperson" jdbcType="INTEGER" />
    <result column="businessLicenseNumber" property="businesslicensenumber" jdbcType="VARCHAR" />
    <result column="hygieneLicenseNumber" property="hygienelicensenumber" jdbcType="VARCHAR" />
    <result column="taxRegistrationCertificateNumber" property="taxregistrationcertificatenumber" jdbcType="VARCHAR" />
    <result column="placeType" property="placetype" jdbcType="INTEGER" />
    <result column="entertainmentPlaceType" property="entertainmentplacetype" jdbcType="INTEGER" />
    <result column="servicePlaceType" property="serviceplacetype" jdbcType="INTEGER" />
    <result column="specialPlaceType" property="specialplacetype" jdbcType="INTEGER" />
    <result column="nineSmallPlaceType" property="ninesmallplacetype" jdbcType="INTEGER" />
    <result column="placeArea" property="placearea" jdbcType="VARCHAR" />
    <result column="numberOfFloor" property="numberoffloor" jdbcType="INTEGER" />
    <result column="numberOfChannelport" property="numberofchannelport" jdbcType="INTEGER" />
    <result column="numberOfRoom" property="numberofroom" jdbcType="INTEGER" />
    <result column="numberOfHoldperson" property="numberofholdperson" jdbcType="INTEGER" />
    <result column="certificateOfQualification" property="certificateofqualification" jdbcType="VARCHAR" />
    <result column="fireFacilities" property="firefacilities" jdbcType="VARCHAR" />
    <result column="chargePersonName" property="chargepersonname" jdbcType="VARCHAR" />
    <result column="chargePersonPhone" property="chargepersonphone" jdbcType="VARCHAR" />
    <result column="numberOfStaffPerson" property="numberofstaffperson" jdbcType="INTEGER" />
    <result column="numberOfExternalMonitor" property="numberofexternalmonitor" jdbcType="INTEGER" />
    <result column="numberOfInsideMonitor" property="numberofinsidemonitor" jdbcType="INTEGER" />
    <result column="protectCondition" property="protectcondition" jdbcType="VARCHAR" />
    <result column="uploadTime" property="uploadtime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yz.po.Locate" extends="BaseResultMap" >
    <result column="businessScope" property="businessscope" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, address, isLetHouse, belongPlace, policeroom,policeName, registerName, realRegisterName, 
    openTime, wifiPwd, numberOfRelperson, businessLicenseNumber, hygieneLicenseNumber, 
    taxRegistrationCertificateNumber, placeType, entertainmentPlaceType, servicePlaceType, 
    specialPlaceType, nineSmallPlaceType, placeArea, numberOfFloor, numberOfChannelport, 
    numberOfRoom, numberOfHoldperson, certificateOfQualification, fireFacilities, chargePersonName, 
    chargePersonPhone, numberOfStaffPerson, numberOfExternalMonitor, numberOfInsideMonitor, 
    protectCondition, uploadTime
  </sql>
  <sql id="Blob_Column_List" >
    businessScope
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yz.po.LocateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from locate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yz.po.LocateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from locate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from locate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from locate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yz.po.LocateExample" >
    delete from locate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yz.po.Locate" >
    insert into locate (id, address, isLetHouse, 
      belongPlace,policeroom, policeName, registerName, 
      realRegisterName, openTime, wifiPwd, 
      numberOfRelperson, businessLicenseNumber, 
      hygieneLicenseNumber, taxRegistrationCertificateNumber, 
      placeType, entertainmentPlaceType, servicePlaceType, 
      specialPlaceType, nineSmallPlaceType, placeArea, 
      numberOfFloor, numberOfChannelport, numberOfRoom, 
      numberOfHoldperson, certificateOfQualification, 
      fireFacilities, chargePersonName, chargePersonPhone, 
      numberOfStaffPerson, numberOfExternalMonitor, 
      numberOfInsideMonitor, protectCondition, 
      uploadTime, businessScope)
    values (#{id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{islethouse,jdbcType=INTEGER}, 
      #{belongplace,jdbcType=INTEGER},#{policeroom,jdbcType=INTEGER}, #{policename,jdbcType=VARCHAR}, #{registername,jdbcType=VARCHAR}, 
      #{realregistername,jdbcType=VARCHAR}, #{opentime,jdbcType=VARCHAR}, #{wifipwd,jdbcType=VARCHAR}, 
      #{numberofrelperson,jdbcType=INTEGER}, #{businesslicensenumber,jdbcType=VARCHAR}, 
      #{hygienelicensenumber,jdbcType=VARCHAR}, #{taxregistrationcertificatenumber,jdbcType=VARCHAR}, 
      #{placetype,jdbcType=INTEGER}, #{entertainmentplacetype,jdbcType=INTEGER}, #{serviceplacetype,jdbcType=INTEGER}, 
      #{specialplacetype,jdbcType=INTEGER}, #{ninesmallplacetype,jdbcType=INTEGER}, #{placearea,jdbcType=VARCHAR}, 
      #{numberoffloor,jdbcType=INTEGER}, #{numberofchannelport,jdbcType=INTEGER}, #{numberofroom,jdbcType=INTEGER}, 
      #{numberofholdperson,jdbcType=INTEGER}, #{certificateofqualification,jdbcType=VARCHAR}, 
      #{firefacilities,jdbcType=VARCHAR}, #{chargepersonname,jdbcType=VARCHAR}, #{chargepersonphone,jdbcType=VARCHAR}, 
      #{numberofstaffperson,jdbcType=INTEGER}, #{numberofexternalmonitor,jdbcType=INTEGER}, 
      #{numberofinsidemonitor,jdbcType=INTEGER}, #{protectcondition,jdbcType=VARCHAR}, 
      #{uploadtime,jdbcType=VARCHAR}, #{businessscope,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yz.po.Locate" >
    insert into locate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="islethouse != null" >
        isLetHouse,
      </if>
      <if test="belongplace != null" >
        belongPlace,
      </if>
      <if test="policeroom != null" >
        policeroom,
      </if>
      <if test="policename != null" >
        policeName,
      </if>
      <if test="registername != null" >
        registerName,
      </if>
      <if test="realregistername != null" >
        realRegisterName,
      </if>
      <if test="opentime != null" >
        openTime,
      </if>
      <if test="wifipwd != null" >
        wifiPwd,
      </if>
      <if test="numberofrelperson != null" >
        numberOfRelperson,
      </if>
      <if test="businesslicensenumber != null" >
        businessLicenseNumber,
      </if>
      <if test="hygienelicensenumber != null" >
        hygieneLicenseNumber,
      </if>
      <if test="taxregistrationcertificatenumber != null" >
        taxRegistrationCertificateNumber,
      </if>
      <if test="placetype != null" >
        placeType,
      </if>
      <if test="entertainmentplacetype != null" >
        entertainmentPlaceType,
      </if>
      <if test="serviceplacetype != null" >
        servicePlaceType,
      </if>
      <if test="specialplacetype != null" >
        specialPlaceType,
      </if>
      <if test="ninesmallplacetype != null" >
        nineSmallPlaceType,
      </if>
      <if test="placearea != null" >
        placeArea,
      </if>
      <if test="numberoffloor != null" >
        numberOfFloor,
      </if>
      <if test="numberofchannelport != null" >
        numberOfChannelport,
      </if>
      <if test="numberofroom != null" >
        numberOfRoom,
      </if>
      <if test="numberofholdperson != null" >
        numberOfHoldperson,
      </if>
      <if test="certificateofqualification != null and certificateofqualification !='' " >
        certificateOfQualification,
      </if>
      <if test="firefacilities != null" >
        fireFacilities,
      </if>
      <if test="chargepersonname != null" >
        chargePersonName,
      </if>
      <if test="chargepersonphone != null" >
        chargePersonPhone,
      </if>
      <if test="numberofstaffperson != null" >
        numberOfStaffPerson,
      </if>
      <if test="numberofexternalmonitor != null" >
        numberOfExternalMonitor,
      </if>
      <if test="numberofinsidemonitor != null" >
        numberOfInsideMonitor,
      </if>
      <if test="protectcondition != null" >
        protectCondition,
      </if>
      <if test="uploadtime != null" >
        uploadTime,
      </if>
      <if test="businessscope != null" >
        businessScope,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="islethouse != null" >
        #{islethouse,jdbcType=INTEGER},
      </if>
      <if test="belongplace != null" >
        #{belongplace,jdbcType=INTEGER},
      </if>
      <if test="policeroom != null" >
        #{policeroom,jdbcType=INTEGER},
      </if>
      <if test="policename != null" >
        #{policename,jdbcType=VARCHAR},
      </if>
      <if test="registername != null" >
        #{registername,jdbcType=VARCHAR},
      </if>
      <if test="realregistername != null" >
        #{realregistername,jdbcType=VARCHAR},
      </if>
      <if test="opentime != null" >
        #{opentime,jdbcType=VARCHAR},
      </if>
      <if test="wifipwd != null" >
        #{wifipwd,jdbcType=VARCHAR},
      </if>
      <if test="numberofrelperson != null" >
        #{numberofrelperson,jdbcType=INTEGER},
      </if>
      <if test="businesslicensenumber != null" >
        #{businesslicensenumber,jdbcType=VARCHAR},
      </if>
      <if test="hygienelicensenumber != null" >
        #{hygienelicensenumber,jdbcType=VARCHAR},
      </if>
      <if test="taxregistrationcertificatenumber != null" >
        #{taxregistrationcertificatenumber,jdbcType=VARCHAR},
      </if>
      <if test="placetype != null" >
        #{placetype,jdbcType=INTEGER},
      </if>
      <if test="entertainmentplacetype != null" >
        #{entertainmentplacetype,jdbcType=INTEGER},
      </if>
      <if test="serviceplacetype != null" >
        #{serviceplacetype,jdbcType=INTEGER},
      </if>
      <if test="specialplacetype != null" >
        #{specialplacetype,jdbcType=INTEGER},
      </if>
      <if test="ninesmallplacetype != null" >
        #{ninesmallplacetype,jdbcType=INTEGER},
      </if>
      <if test="placearea != null" >
        #{placearea,jdbcType=VARCHAR},
      </if>
      <if test="numberoffloor != null" >
        #{numberoffloor,jdbcType=INTEGER},
      </if>
      <if test="numberofchannelport != null" >
        #{numberofchannelport,jdbcType=INTEGER},
      </if>
      <if test="numberofroom != null" >
        #{numberofroom,jdbcType=INTEGER},
      </if>
      <if test="numberofholdperson != null" >
        #{numberofholdperson,jdbcType=INTEGER},
      </if>
      <if test="certificateofqualification != null and certificateofqualification != '' " >
        #{certificateofqualification,jdbcType=VARCHAR},
      </if>
      <if test="firefacilities != null" >
        #{firefacilities,jdbcType=VARCHAR},
      </if>
      <if test="chargepersonname != null" >
        #{chargepersonname,jdbcType=VARCHAR},
      </if>
      <if test="chargepersonphone != null" >
        #{chargepersonphone,jdbcType=VARCHAR},
      </if>
      <if test="numberofstaffperson != null" >
        #{numberofstaffperson,jdbcType=INTEGER},
      </if>
      <if test="numberofexternalmonitor != null" >
        #{numberofexternalmonitor,jdbcType=INTEGER},
      </if>
      <if test="numberofinsidemonitor != null" >
        #{numberofinsidemonitor,jdbcType=INTEGER},
      </if>
      <if test="protectcondition != null" >
        #{protectcondition,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=VARCHAR},
      </if>
      <if test="businessscope != null" >
        #{businessscope,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yz.po.LocateExample" resultType="java.lang.Integer" >
    select count(*) from locate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update locate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.islethouse != null" >
        isLetHouse = #{record.islethouse,jdbcType=INTEGER},
      </if>
      <if test="record.belongplace != null" >
        belongPlace = #{record.belongplace,jdbcType=INTEGER},
      </if>
      <if test="record.policeroom != null" >
        policeroom = #{record.policeroom,jdbcType=INTEGER},
      </if>
      <if test="record.policename != null" >
        policeName = #{record.policename,jdbcType=VARCHAR},
      </if>
      <if test="record.registername != null" >
        registerName = #{record.registername,jdbcType=VARCHAR},
      </if>
      <if test="record.realregistername != null" >
        realRegisterName = #{record.realregistername,jdbcType=VARCHAR},
      </if>
      <if test="record.opentime != null" >
        openTime = #{record.opentime,jdbcType=VARCHAR},
      </if>
      <if test="record.wifipwd != null" >
        wifiPwd = #{record.wifipwd,jdbcType=VARCHAR},
      </if>
      <if test="record.numberofrelperson != null" >
        numberOfRelperson = #{record.numberofrelperson,jdbcType=INTEGER},
      </if>
      <if test="record.businesslicensenumber != null" >
        businessLicenseNumber = #{record.businesslicensenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.hygienelicensenumber != null" >
        hygieneLicenseNumber = #{record.hygienelicensenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.taxregistrationcertificatenumber != null" >
        taxRegistrationCertificateNumber = #{record.taxregistrationcertificatenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.placetype != null" >
        placeType = #{record.placetype,jdbcType=INTEGER},
      </if>
      <if test="record.entertainmentplacetype != null" >
        entertainmentPlaceType = #{record.entertainmentplacetype,jdbcType=INTEGER},
      </if>
      <if test="record.serviceplacetype != null" >
        servicePlaceType = #{record.serviceplacetype,jdbcType=INTEGER},
      </if>
      <if test="record.specialplacetype != null" >
        specialPlaceType = #{record.specialplacetype,jdbcType=INTEGER},
      </if>
      <if test="record.ninesmallplacetype != null" >
        nineSmallPlaceType = #{record.ninesmallplacetype,jdbcType=INTEGER},
      </if>
      <if test="record.placearea != null" >
        placeArea = #{record.placearea,jdbcType=VARCHAR},
      </if>
      <if test="record.numberoffloor != null" >
        numberOfFloor = #{record.numberoffloor,jdbcType=INTEGER},
      </if>
      <if test="record.numberofchannelport != null" >
        numberOfChannelport = #{record.numberofchannelport,jdbcType=INTEGER},
      </if>
      <if test="record.numberofroom != null" >
        numberOfRoom = #{record.numberofroom,jdbcType=INTEGER},
      </if>
      <if test="record.numberofholdperson != null" >
        numberOfHoldperson = #{record.numberofholdperson,jdbcType=INTEGER},
      </if>
      <if test="record.certificateofqualification != null and record.certificateofqualification != ''" >
        certificateOfQualification = #{record.certificateofqualification,jdbcType=VARCHAR},
      </if>
      <if test="record.firefacilities != null" >
        fireFacilities = #{record.firefacilities,jdbcType=VARCHAR},
      </if>
      <if test="record.chargepersonname != null" >
        chargePersonName = #{record.chargepersonname,jdbcType=VARCHAR},
      </if>
      <if test="record.chargepersonphone != null" >
        chargePersonPhone = #{record.chargepersonphone,jdbcType=VARCHAR},
      </if>
      <if test="record.numberofstaffperson != null" >
        numberOfStaffPerson = #{record.numberofstaffperson,jdbcType=INTEGER},
      </if>
      <if test="record.numberofexternalmonitor != null" >
        numberOfExternalMonitor = #{record.numberofexternalmonitor,jdbcType=INTEGER},
      </if>
      <if test="record.numberofinsidemonitor != null" >
        numberOfInsideMonitor = #{record.numberofinsidemonitor,jdbcType=INTEGER},
      </if>
      <if test="record.protectcondition != null" >
        protectCondition = #{record.protectcondition,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadtime != null" >
        uploadTime = #{record.uploadtime,jdbcType=VARCHAR},
      </if>
      <if test="record.businessscope != null" >
        businessScope = #{record.businessscope,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update locate
    set id = #{record.id,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      isLetHouse = #{record.islethouse,jdbcType=INTEGER},
      belongPlace = #{record.belongplace,jdbcType=INTEGER},
      policeroom = #{record.policeroom,jdbcType=INTEGER},
      policeName = #{record.policename,jdbcType=VARCHAR},
      registerName = #{record.registername,jdbcType=VARCHAR},
      realRegisterName = #{record.realregistername,jdbcType=VARCHAR},
      openTime = #{record.opentime,jdbcType=VARCHAR},
      wifiPwd = #{record.wifipwd,jdbcType=VARCHAR},
      numberOfRelperson = #{record.numberofrelperson,jdbcType=INTEGER},
      businessLicenseNumber = #{record.businesslicensenumber,jdbcType=VARCHAR},
      hygieneLicenseNumber = #{record.hygienelicensenumber,jdbcType=VARCHAR},
      taxRegistrationCertificateNumber = #{record.taxregistrationcertificatenumber,jdbcType=VARCHAR},
      placeType = #{record.placetype,jdbcType=INTEGER},
      entertainmentPlaceType = #{record.entertainmentplacetype,jdbcType=INTEGER},
      servicePlaceType = #{record.serviceplacetype,jdbcType=INTEGER},
      specialPlaceType = #{record.specialplacetype,jdbcType=INTEGER},
      nineSmallPlaceType = #{record.ninesmallplacetype,jdbcType=INTEGER},
      placeArea = #{record.placearea,jdbcType=VARCHAR},
      numberOfFloor = #{record.numberoffloor,jdbcType=INTEGER},
      numberOfChannelport = #{record.numberofchannelport,jdbcType=INTEGER},
      numberOfRoom = #{record.numberofroom,jdbcType=INTEGER},
      numberOfHoldperson = #{record.numberofholdperson,jdbcType=INTEGER},
      certificateOfQualification = #{record.certificateofqualification,jdbcType=VARCHAR},
      fireFacilities = #{record.firefacilities,jdbcType=VARCHAR},
      chargePersonName = #{record.chargepersonname,jdbcType=VARCHAR},
      chargePersonPhone = #{record.chargepersonphone,jdbcType=VARCHAR},
      numberOfStaffPerson = #{record.numberofstaffperson,jdbcType=INTEGER},
      numberOfExternalMonitor = #{record.numberofexternalmonitor,jdbcType=INTEGER},
      numberOfInsideMonitor = #{record.numberofinsidemonitor,jdbcType=INTEGER},
      protectCondition = #{record.protectcondition,jdbcType=VARCHAR},
      uploadTime = #{record.uploadtime,jdbcType=VARCHAR},
      businessScope = #{record.businessscope,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update locate
    set id = #{record.id,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      isLetHouse = #{record.islethouse,jdbcType=INTEGER},
      belongPlace = #{record.belongplace,jdbcType=INTEGER},
      policeroom = #{record.policeroom,jdbcType=INTEGER},
      policeName = #{record.policename,jdbcType=VARCHAR},
      registerName = #{record.registername,jdbcType=VARCHAR},
      realRegisterName = #{record.realregistername,jdbcType=VARCHAR},
      openTime = #{record.opentime,jdbcType=VARCHAR},
      wifiPwd = #{record.wifipwd,jdbcType=VARCHAR},
      numberOfRelperson = #{record.numberofrelperson,jdbcType=INTEGER},
      businessLicenseNumber = #{record.businesslicensenumber,jdbcType=VARCHAR},
      hygieneLicenseNumber = #{record.hygienelicensenumber,jdbcType=VARCHAR},
      taxRegistrationCertificateNumber = #{record.taxregistrationcertificatenumber,jdbcType=VARCHAR},
      placeType = #{record.placetype,jdbcType=INTEGER},
      entertainmentPlaceType = #{record.entertainmentplacetype,jdbcType=INTEGER},
      servicePlaceType = #{record.serviceplacetype,jdbcType=INTEGER},
      specialPlaceType = #{record.specialplacetype,jdbcType=INTEGER},
      nineSmallPlaceType = #{record.ninesmallplacetype,jdbcType=INTEGER},
      placeArea = #{record.placearea,jdbcType=VARCHAR},
      numberOfFloor = #{record.numberoffloor,jdbcType=INTEGER},
      numberOfChannelport = #{record.numberofchannelport,jdbcType=INTEGER},
      numberOfRoom = #{record.numberofroom,jdbcType=INTEGER},
      numberOfHoldperson = #{record.numberofholdperson,jdbcType=INTEGER},
      certificateOfQualification = #{record.certificateofqualification,jdbcType=VARCHAR},
      fireFacilities = #{record.firefacilities,jdbcType=VARCHAR},
      chargePersonName = #{record.chargepersonname,jdbcType=VARCHAR},
      chargePersonPhone = #{record.chargepersonphone,jdbcType=VARCHAR},
      numberOfStaffPerson = #{record.numberofstaffperson,jdbcType=INTEGER},
      numberOfExternalMonitor = #{record.numberofexternalmonitor,jdbcType=INTEGER},
      numberOfInsideMonitor = #{record.numberofinsidemonitor,jdbcType=INTEGER},
      protectCondition = #{record.protectcondition,jdbcType=VARCHAR},
      uploadTime = #{record.uploadtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yz.po.Locate" >
    update locate
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="islethouse != null" >
        isLetHouse = #{islethouse,jdbcType=INTEGER},
      </if>
      <if test="belongplace != null" >
        belongPlace = #{belongplace,jdbcType=INTEGER},
      </if>
        <if test="policeroom != null" >
        policeroom = #{policeroom,jdbcType=INTEGER},
      </if>
      <if test="policename != null" >
        policeName = #{policename,jdbcType=VARCHAR},
      </if>
      <if test="registername != null" >
        registerName = #{registername,jdbcType=VARCHAR},
      </if>
      <if test="realregistername != null" >
        realRegisterName = #{realregistername,jdbcType=VARCHAR},
      </if>
      <if test="opentime != null" >
        openTime = #{opentime,jdbcType=VARCHAR},
      </if>
      <if test="wifipwd != null" >
        wifiPwd = #{wifipwd,jdbcType=VARCHAR},
      </if>
      <if test="numberofrelperson != null" >
        numberOfRelperson = #{numberofrelperson,jdbcType=INTEGER},
      </if>
      <if test="businesslicensenumber != null" >
        businessLicenseNumber = #{businesslicensenumber,jdbcType=VARCHAR},
      </if>
      <if test="hygienelicensenumber != null" >
        hygieneLicenseNumber = #{hygienelicensenumber,jdbcType=VARCHAR},
      </if>
      <if test="taxregistrationcertificatenumber != null" >
        taxRegistrationCertificateNumber = #{taxregistrationcertificatenumber,jdbcType=VARCHAR},
      </if>
      <if test="placetype != null" >
        placeType = #{placetype,jdbcType=INTEGER},
      </if>
      <if test="entertainmentplacetype != null" >
        entertainmentPlaceType = #{entertainmentplacetype,jdbcType=INTEGER},
      </if>
      <if test="serviceplacetype != null" >
        servicePlaceType = #{serviceplacetype,jdbcType=INTEGER},
      </if>
      <if test="specialplacetype != null" >
        specialPlaceType = #{specialplacetype,jdbcType=INTEGER},
      </if>
      <if test="ninesmallplacetype != null" >
        nineSmallPlaceType = #{ninesmallplacetype,jdbcType=INTEGER},
      </if>
      <if test="placearea != null" >
        placeArea = #{placearea,jdbcType=VARCHAR},
      </if>
      <if test="numberoffloor != null" >
        numberOfFloor = #{numberoffloor,jdbcType=INTEGER},
      </if>
      <if test="numberofchannelport != null" >
        numberOfChannelport = #{numberofchannelport,jdbcType=INTEGER},
      </if>
      <if test="numberofroom != null" >
        numberOfRoom = #{numberofroom,jdbcType=INTEGER},
      </if>
      <if test="numberofholdperson != null" >
        numberOfHoldperson = #{numberofholdperson,jdbcType=INTEGER},
      </if>
      <if test="certificateofqualification != null and certificateofqualification != ''" >
        certificateOfQualification = #{certificateofqualification,jdbcType=VARCHAR},
      </if>
      <if test="firefacilities != null" >
        fireFacilities = #{firefacilities,jdbcType=VARCHAR},
      </if>
      <if test="chargepersonname != null" >
        chargePersonName = #{chargepersonname,jdbcType=VARCHAR},
      </if>
      <if test="chargepersonphone != null" >
        chargePersonPhone = #{chargepersonphone,jdbcType=VARCHAR},
      </if>
      <if test="numberofstaffperson != null" >
        numberOfStaffPerson = #{numberofstaffperson,jdbcType=INTEGER},
      </if>
      <if test="numberofexternalmonitor != null" >
        numberOfExternalMonitor = #{numberofexternalmonitor,jdbcType=INTEGER},
      </if>
      <if test="numberofinsidemonitor != null" >
        numberOfInsideMonitor = #{numberofinsidemonitor,jdbcType=INTEGER},
      </if>
      <if test="protectcondition != null" >
        protectCondition = #{protectcondition,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        uploadTime = #{uploadtime,jdbcType=VARCHAR},
      </if>
      <if test="businessscope != null" >
        businessScope = #{businessscope,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yz.po.Locate" >
    update locate
    set address = #{address,jdbcType=VARCHAR},
      isLetHouse = #{islethouse,jdbcType=INTEGER},
      belongPlace = #{belongplace,jdbcType=INTEGER},
      policeroom = #{policeroom,jdbcType=INTEGER},
      policeName = #{policename,jdbcType=VARCHAR},
      registerName = #{registername,jdbcType=VARCHAR},
      realRegisterName = #{realregistername,jdbcType=VARCHAR},
      openTime = #{opentime,jdbcType=VARCHAR},
      wifiPwd = #{wifipwd,jdbcType=VARCHAR},
      numberOfRelperson = #{numberofrelperson,jdbcType=INTEGER},
      businessLicenseNumber = #{businesslicensenumber,jdbcType=VARCHAR},
      hygieneLicenseNumber = #{hygienelicensenumber,jdbcType=VARCHAR},
      taxRegistrationCertificateNumber = #{taxregistrationcertificatenumber,jdbcType=VARCHAR},
      placeType = #{placetype,jdbcType=INTEGER},
      entertainmentPlaceType = #{entertainmentplacetype,jdbcType=INTEGER},
      servicePlaceType = #{serviceplacetype,jdbcType=INTEGER},
      specialPlaceType = #{specialplacetype,jdbcType=INTEGER},
      nineSmallPlaceType = #{ninesmallplacetype,jdbcType=INTEGER},
      placeArea = #{placearea,jdbcType=VARCHAR},
      numberOfFloor = #{numberoffloor,jdbcType=INTEGER},
      numberOfChannelport = #{numberofchannelport,jdbcType=INTEGER},
      numberOfRoom = #{numberofroom,jdbcType=INTEGER},
      numberOfHoldperson = #{numberofholdperson,jdbcType=INTEGER},
      certificateOfQualification = #{certificateofqualification,jdbcType=VARCHAR},
      fireFacilities = #{firefacilities,jdbcType=VARCHAR},
      chargePersonName = #{chargepersonname,jdbcType=VARCHAR},
      chargePersonPhone = #{chargepersonphone,jdbcType=VARCHAR},
      numberOfStaffPerson = #{numberofstaffperson,jdbcType=INTEGER},
      numberOfExternalMonitor = #{numberofexternalmonitor,jdbcType=INTEGER},
      numberOfInsideMonitor = #{numberofinsidemonitor,jdbcType=INTEGER},
      protectCondition = #{protectcondition,jdbcType=VARCHAR},
      uploadTime = #{uploadtime,jdbcType=VARCHAR},
      businessScope = #{businessscope,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yz.po.Locate" >
    update locate
    set address = #{address,jdbcType=VARCHAR},
      isLetHouse = #{islethouse,jdbcType=INTEGER},
      belongPlace = #{belongplace,jdbcType=INTEGER},
      policeroom = #{policeroom,jdbcType=INTEGER},
      policeName = #{policename,jdbcType=VARCHAR},
      registerName = #{registername,jdbcType=VARCHAR},
      realRegisterName = #{realregistername,jdbcType=VARCHAR},
      openTime = #{opentime,jdbcType=VARCHAR},
      wifiPwd = #{wifipwd,jdbcType=VARCHAR},
      numberOfRelperson = #{numberofrelperson,jdbcType=INTEGER},
      businessLicenseNumber = #{businesslicensenumber,jdbcType=VARCHAR},
      hygieneLicenseNumber = #{hygienelicensenumber,jdbcType=VARCHAR},
      taxRegistrationCertificateNumber = #{taxregistrationcertificatenumber,jdbcType=VARCHAR},
      placeType = #{placetype,jdbcType=INTEGER},
      entertainmentPlaceType = #{entertainmentplacetype,jdbcType=INTEGER},
      servicePlaceType = #{serviceplacetype,jdbcType=INTEGER},
      specialPlaceType = #{specialplacetype,jdbcType=INTEGER},
      nineSmallPlaceType = #{ninesmallplacetype,jdbcType=INTEGER},
      placeArea = #{placearea,jdbcType=VARCHAR},
      numberOfFloor = #{numberoffloor,jdbcType=INTEGER},
      numberOfChannelport = #{numberofchannelport,jdbcType=INTEGER},
      numberOfRoom = #{numberofroom,jdbcType=INTEGER},
      numberOfHoldperson = #{numberofholdperson,jdbcType=INTEGER},
      certificateOfQualification = #{certificateofqualification,jdbcType=VARCHAR},
      fireFacilities = #{firefacilities,jdbcType=VARCHAR},
      chargePersonName = #{chargepersonname,jdbcType=VARCHAR},
      chargePersonPhone = #{chargepersonphone,jdbcType=VARCHAR},
      numberOfStaffPerson = #{numberofstaffperson,jdbcType=INTEGER},
      numberOfExternalMonitor = #{numberofexternalmonitor,jdbcType=INTEGER},
      numberOfInsideMonitor = #{numberofinsidemonitor,jdbcType=INTEGER},
      protectCondition = #{protectcondition,jdbcType=VARCHAR},
      uploadTime = #{uploadtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>