/* CSS Document */
.tabCon .tit{
	width:98%;
	margin:1%;
}
.tabCon .tit a{
	color:#FFF;}
/* ---------------------------------------------------------------------- */
	/*	Aside mini profile 
	/* ---------------------------------------------------------------------- */	
	.my-profile {
		width:148px;
		font-size: 12px;
		color:#000;
		position: relative;
	}
	.my-profile-pic {
		margin:0px 25px;
	}
	.my-profile-pic img {
		width:90px;
		height:110px;
		border:1px solid #9B9B9B;
		border-top-color: #636363;
		-webkit-border-radius: 4px 4px 4px 4px;
		-moz-border-radius: 4px 4px 4px 4px;
		border-radius: 4px 4px 4px 4px;
	}
	.my-profile span.first-child {
		font-size:13px;
	}
	.my-profile span {
		line-height:25px;
		display:block;
		text-align:center;
	}
	.my-profile a {
		color:#D1D1D1;
	}
/* divider */
	
.divider {
	height: 11px;
	width: 100%;
	position: relative;
	background-image: url(../images/divider_11x714.png);
	background-repeat: no-repeat;
	background-position: center 0;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
	}
	
